In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../database/result.csv")

In [4]:
color = pd.read_csv("../database/color.csv")

In [6]:
Grouped = df.groupby(["Topic"]).sum().reset_index()

In [7]:
Grouped

              Topic  Hour  Minute
0             Books     0      55
1                CP     2      52
2            Course     2     215
3               DSA     3     146
4   Ethical Hacking     0      45
5  Machine Learning     1       0
6           Project     2     320
7            Typing     0      75
8   Web Development     0      35

In [11]:
Grouped[Grouped["Topic"].isin(color[color["Color"]!="#808080"]["Topic"])]

     Topic  Hour  Minute
0    Books     0      55
1       CP     2      52
3      DSA     3     146
6  Project     2     320
7   Typing     0      75